# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# idea files
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/copyright
!.idea/copyright/*
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/icon.png
!.idea/detekt.xml

.DS_Store

# Ignore generated Detekt reports
detekt/reports/**

# tmp files created by tests
*.tmp

.puppeteer
