.cover h4 {
    margin: 0;
    font: var(--font-text-m);
    font-weight: 400;
}

.cover h4:nth-of-type(1) {
    margin-top: 12px;
    padding: 12px 16px 0 16px;
    border-left: 4px solid #307fff;
    background-color: rgba(48, 127, 255, 0.08);
    border-radius: 0 4px 0 0;
    font-weight: 600;
}

.cover h4:nth-of-type(2) {
    padding: 4px 16px 12px 16px;
    border-left: 4px solid #307fff;
    background-color: rgba(48, 127, 255, 0.08);
    border-radius: 0 0 4px 0;
    margin-bottom: 16px;
}

.cover h4 a {
    color: #307fff;
}
