/.gradle/
/.idea/
/bazel-*/
/build/
/bazel-bin
/bazel-kgrpc
/bazel-grpc-shim
/bazel-out
/bazel-testlogs
/core/bazel-*
/core/bazel-bin
/core/bazel-kgrpc
/core/bazel-grpc-shim
/core/bazel-out
/core/bazel-testlogs
/tests/build/
